# Logs e arquivos do sistema
*.log
Thumbs.db

# Pastas do Gradle
.gradle/
build/
out/
bin/

# Classes compiladas
*.class

# dados gerados
data/

# Config do VSCode
.vscode/

# Outros arquivos .gradle que não sejam essenciais
*.gradle
!build.gradle
!settings.gradle